//   &__img {
//     display: block;
//     width: 200px;
//     margin: 10px 20px;
//     margin-left: 0;
//     flex: auto;
//     flex-shrink: 0;
//     border-radius: 15px;
//     box-shadow: 0px 10px 20px rgba($color-black, 0.25);
//   }
// }
.character-tile {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    flex: 1;
    display: flex;
    overflow-x: auto;
  
  
  
    &__img {
    display: block;
    width: 200px;
    margin: 10px 20px;
    margin-left: 0;
    flex: auto;
    flex-shrink: 0;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(black, 0.25)
    }
  
    &__content {
      position: absolute;
      z-index: 1;
      color: white;
  
      & > * {
        margin: 10px 0;
      }
  
      &--button {
        bottom: 20px;
        left: 20px;
      }
  
      &--text {
        height: 100%;
        padding: 0px 20px;
        top: 0;
        overflow-y: auto;
        background: rgba(black, 0.8);
        white-space: pre-line;
      }
    }
  
    &__cross {
      height: 25px;
      width: 25px;
      position: absolute;
      right: 20px;
      top: 15px;
    }
  
    &__heading {
      margin: 20px 0;
      font-size: 25px;
    }
    // OVERLAY
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(black, 0.5);
    }
  }
  